<!-- Profille::Addresses View -->

<h1>Addresses</h1>

<p> <%= link_to "Add New Address", new_profile_address_path %> </p>

<% @addresses.each do |address| %>
  <%= tag.section id: "address-#{address.id}" do %>
  <%= render partial: "card", locals: {address: address, style_class: "address-index-card"}%>
  <% end %>
<% end %>
